@page "/calendar"
@attribute [StreamRendering]

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

@if (cars == null || reservations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>

    @for (int r = 0; r < 5; r++)
        {
            <tr>
                @for (int c = 0; c < 7; c++)
                {
                    <td>
                        Day
                    </td>
                }
            </tr>
        }
    </table>
}

@code {
    private Car[]? cars;
    private Reservation[]? reservations;
    protected override async Task OnInitializedAsync()
    {
        cars = await Car.FetchCars();
        reservations = await Reservation.FetchReservations();
    }
    protected Reservation[] getDayReservations(int row, int column)
    {

    }
}
